div.logo_card {
  display: flex;
  width: 30%;
}
div.job_card_list {
  padding: 2%;
  margin: 2% 10%;
  display: flex;
}
div.jobList {
  display: flex;
  flex-wrap: warap;
  flex-direction: row;
  flex-wrap: wrap;
}
